extends ../layout/index
block contenido
     main.container.mt-5  
          .row  
               .col-md-5
                    img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
               .col-md-7
                    h1 #{pagina}
                    blockquote Mauris pharetra rutrum nulla, in ornare lorem pellentesque eu. Nullam quis ante a arcu tristique scelerisque sit amet a metus. Etiam congue lectus vitae turpis tristique, non eleifend tortor finibus. Curabitur ac arcu luctus odio ornare commodo. Suspendisse ac mauris lectus.
                    p Duis consectetur, dui ut iaculis sagittis, sapien risus semper lectus, ut pharetra risus erat eget ante. Vestibulum condimentum convallis lacus ac lacinia. Cras et ante dignissim, aliquet lorem id, sollicitudin tellus.
                    p Sed faucibus fringilla tellus, elementum vehicula ipsum pellentesque non. Suspendisse sed posuere orci Nullam vel justo feugiat, molestie quam ut, interdum orci. Etiam faucibus, felis eget egestas tempor, lacus nisi pharetra enim, rutrum accumsan lorem enim vitae sem. Etiam mollis ligula at gravida mollis. Proin aliquam massa sit amet dui porttitor, nec venenatis ex pulvinar. Nunc eget felis est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos
     .listado-iconos
          .container.mt-5.py-5.text-center
               .row
                    .col-md-4
                         img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                         h2.mb-4 Seguridad
                         p Nam placerat auctor elit quis aliquet. Aliquam sollicitudin lorem ut gravida luctus. Aliquam eu ornare augue. Curabitur.
                    .col-md-4
                         img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                         h2.mb-4 Mejores destinos
                         p Nam placerat auctor elit quis aliquet. Aliquam sollicitudin lorem ut gravida luctus. Aliquam eu ornare augue. Curabitur.
                    .col-md-4
                         img(src="img/icono_precios.svg", class="img-fluid mb-4")
                         h2.mb-4 Mejor Precio
                         p Nam placerat auctor elit quis aliquet. Aliquam sollicitudin lorem ut gravida luctus. Aliquam eu ornare augue. Curabitur.